
/*添加课程弹出层*/
.add-course-panel{
    width:600px;
    min-height: 250px;
    display: none;
}
element.style {
    width: auto !important;
}
.layui-input,.layui-input-block{
    width:100%;
}
.layui-form-item{
    margin-top: 20px;
    width: 450px;
}
.layui-form-label{
    color:rgba(100,100,100,1);
    font-size: 16px;
}
.layui-input-block{
    font-size: 16px;
}
/*.layui-btn.clear,.layui-btn.submit{*/
.bottom-btns{
    text-align: center;
}
.layui-form-item.bottom-btns{
    width:100%;
}
.layui-form-item .layui-btn{
    width:90px;
    margin-left:30px;
    margin-right:30px;
    margin-top: 10px;
}
